[Desktop Entry]
Version=v1.0
Type=Application
Terminal=true
Name=nifty site manager
Exec=nsm
Icon=cc.nift.nsm
Categories=ConsoleOnly;DeveloperTools;Productivity;Utilities;

Name[en_AU]=cc.nift.nsm.desktop
