[Desktop Entry]
Version=v1.16
Type=Application
Terminal=true
Name=Nift
Exec=nsm
Icon=cc.nift.nsm
Categories=ConsoleOnly;DeveloperTools;Productivity;Utilities;

Name[en_AU]=cc.nift.nsm.desktop
